/**
 Mditor 公共样式
 **/

.mditor {
	border-radius: 3px;
	padding: 0px;
	overflow: hidden;
	background-color: #fff;
	color: #333;
	-webkit-font-smoothing: subpixel-antialiased;
	position: relative;
}
.mditor,
.mditor * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/**
 工具条样式
 **/

.mditor .head {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	cursor: default;
	outline: 0;
	position: relative;
	zoom: 1;
	margin: 0;
	padding: 0px;
	border: 1px solid #CCC;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
	background: #f1f1f1;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #f5f5f5, #efefef);
	background-image: -ms-linear-gradient(top, #f5f5f5, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#efefef));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #efefef);
	background-image: -o-linear-gradient(top, #f5f5f5, #efefef);
	background-image: linear-gradient(top, #f5f5f5, #efefef);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#efefef', GradientType=0);
	padding-right: 70px;
}
.mditor .toolbar,
.mditor .control {
	margin: 0px;
	padding: 4px;
	height: 100%;
	position: relative;
}
.mditor .control {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 70px;
	text-align: right;
}
.mditor .toolbar .fa,
.mditor .control .fa {
	height: 27px;
	width: 27px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	border: 1px solid transparent;
	border-radius: 3px;
	margin: 1px;
	color: #888;
	transition: .2s;
	-webkit-transition: .2s;
	position: relative;
}
.mditor .toolbar .fa:hover,
.mditor .toolbar .fa:active,
.mditor .control .fa:hover,
.mditor .control .fa:active,
.mditor .toolbar .fa.on,
.mditor .control .fa.on {
	color: #444;
	border: 1px solid #ddd;
}
.mditor .toolbar .fa:active,
.mditor .control .fa:active,
.mditor .toolbar .fa.on,
.mditor .control .fa.on {
	background-color: #ebebeb;
	box-shadow: 0 0 3px rgba(0, 0, 0, .1) inset;
}
/**
 编辑器主体样式
 **/

.mditor .body {
	margin: 0px;
	padding: 0px;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1) inset;
	background-color: #fff;
}
.mditor .body.active {
	border: 1px solid #aaa;
}
.mditor .editor,
.mditor .viewer {
	position: relative;
	display: inline-block;
	border: none !important;
	border-radius: 0 0 3px 3px !important;
	outline: none !important;
	width: 100%;
	height: 100%;
	min-height: 60px;
	resize: none !important;
	background-color: transparent !important;
	font: 16px/20px 'Helvetica Neue', 'Arial', 'Liberation Sans', 'FreeSans', 'Hiragino Sans GB', 'sans-serif' !important;
	margin: 0px;
	padding: 8px 10px;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
}
.mditor .viewer {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 0px;
	display: none;
}
/**
 高度计算样式
 **/

.mditor .calc {
	position: relative;
	height: 0px;
	font-size: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	visibility: hidden;
}
.mditor .calc .editor {
	height: auto;
}
.mditor.fixed .calc .editor,
.mditor.fixed .viewer {
	height: 100% !important;
}
/**
 打开预览时样式
 **/

.mditor.preview .viewer,
.mditor.preview .editor {
	width: 50%;
}
.mditor.preview .editor {
	border-right: 1px solid #ddd !important;
	border-bottom-right-radius: 0px !important;
}
.mditor.preview .viewer {
	display: block;
	overflow: visible;
}
/**
 全屏样式
 **/

.mditor.fullscreen {
	position: fixed;
	margin: 0px !important;
	left: 0px !important;
	top: 0px !important;
	width: 100% !important;
	height: 100% !important;
	min-width: 100% !important;
	min-height: 100% !important;
	max-width: 100% !important;
	max-height: 100% !important;
	z-index: 999999;
	padding: 5px;
	background-color: #f8f8f8;
	border-radius: 0px;
}
/**
 全屏和预览时的 control 样式
 **/

.mditor.fullscreen i.fa[data-cmd="toggleFullScreen"],
.mditor.preview i.fa[data-cmd="togglePreview"] {
	color: #444;
	border: 1px solid #ddd;
	background-color: #ebebeb;
	box-shadow: 0 0 3px rgba(0, 0, 0, .1) inset;
}
/**
 固定高度时的样式
 **/

.mditor.fixed .viewer,
.mditor.fullscreen .viewer {
	overflow: auto;
}
/**
 无 head 部份样式
 **/

.mditor.toolbar-hidden .head {
	display: none;
}
.mditor.toolbar-hidden .body,
.mditor.toolbar-hidden .editor,
.mditor.toolbar-hidden .viewer {
	border-radius: 3px;
}